{
  "semi": true,
  "singleQuote": true,
  "arrowParens": "always",
  "bracketSpacing": true,
  "trailingComma": "es5",
  "jsxSingleQuote": false,
  "bracketSameLine": false,
  "tabWidth": 2,
  "printWidth": 80,
  "overrides": [
    {
      "files": "./src/i18n/locales/*.ts",
      "options": {
        "printWidth": 10000
      }
    },
    {
      "files": "./store/api/*.ts",
      "options": {
        "printWidth": 120
      }
    }
  ],
  "organizeImportsSkipDestructiveCodeActions": true
}
